<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Recart Frontend Test</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
</head>

<body>
	<section class="section">
		<div class="container">
			<div class="content">
				<h1>Welcome</h1>
				<p>
					Here is a quick coding challenge. We tried to make it as simple as possible so we could see how you
					write code, solve problems and most importantly - how you think.
				</p>
				<p>
					We have a simple GraphQL API that connects to database. Use VueJS to create, read, update,
					delete parts from the API and display it in an organized way. (Bonus) In addition, you should add sorting and filtering.
				</p>
				<p>
					Feel free to use any GraphQL framework. Be creative! (Recommend <a href="https://apollo.vuejs.org/">Apollo Client</a>)
				</p>
				<p>
					Oh! One more thing – you have to send <code>Authorization: RecarSuperSecret</code> header to
					execute mutations.
				</p>
				<hr>
				<a href="/graphql">GraphQL Playground</a>
				<hr>
				<article class="message">
					<div class="message-body">
						If something went wrong and you would like to <strong>reset database</strong>:</br></br>
						<code>make reset</code>
					</div>
				</article>
			</div>
		</div>
	</section>
</body>

</html>
